.GuideItem {
	display: none;
	flex-direction: column;
	justify-content: flex-end;
	width: 216px;
	height: 319px;
	background-color: white;
	margin: 0 5px 12vh;
	border-radius: 23px;
	opacity: 0;
}
.GuideItemActive {
	display: flex;
	animation: slide 0.8s ease-out forwards;
}
.GuideTextWrapper {
	height: 50px;
	text-align: center;
}
.GuideText {
	font-weight: 300;
	color: var(--pink);
	line-height: 16px;
}
.GuideImage {
	margin: auto;
}


@keyframes slide {
	from {
		opacity: 0;
		transform: translateX(20vw);
	}
	to {
		opacity: 1;
		transform: translateX(0);

	}
} 