.Post {
	padding: 30px 15px;
	background-color: var(--white);
	display: flex;
	gap: 20px;
}
.AvatarImage {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	object-fit: cover;
}

.PostInfo {
	display: flex;
	flex: 1 1 200px;
	flex-direction: column;
	color: var(--dark);
}
.Title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.Name {
	font-size: 0.9rem;
}
.Date, .LikesCount  {
	font-size: 0.7rem;
	color: var(--gray-user-info);
}


.Body {
	margin-bottom: 30px;
}
.Answers {
	padding: 10px;
}
.AnswersText {
	color: var(--pink);
	border-bottom: 1px dashed var(--pink);
}
.TextBox {
	padding: 16px 8px;
	box-shadow: 0 3px 4px rgba(64, 194, 201,0.15);
	border-radius: 8px;
}

.Reply {
	display: flex;
	align-items: center;
	gap: 25px;
}
.Likes {
	display: flex;
	align-items: center;
	gap: 4px;
}
.LikesCount {
	margin-bottom: 4px;
}
